<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <title>HI</title>
</head>
<body>
<<section>
    <div class="jumbotron">
        <div class="container">
            <h1 th:text="${greeting}"> </h1>
            <p th:text="${tagline}">  </p>
            Welcome

        </div>

        <div class="container">
            <c:choose>
                <c:when test="${empty bloodDrives}">
                    <a th:href="@{'login'}" class="btn btn-default pull-right"> Login</a>
                </c:when>
                <c:otherwise>
                    <a th:href="@{'bloodDrives/add'}" class="btn btn-default pull-right">Add Blood Drive</a>
                    <a th:href="@{'bloodDrives'}" class="btn btn-default pull-right">Blood Drive List</a>
                    <br>
                    <a th:href="@{'hospitals/add'}" class="btn btn-default pull-right">Add Hospital</a>
                    <a th:href="@{'hospitals/all'}" class="btn btn-default pull-right">Hospital List</a>
                    <a th:href="@{'donors/add'}" class="btn btn-default pull-right">Add Donor</a>
                    <a th:href="@{'donors/all'}" class="btn btn-default pull-right">Donor List</a>
                    <a th:href="@{'donations/add'}" class="btn btn-default pull-right">Add Donation</a>
                    <a th:href="@{'donations/all'}" class="btn btn-default pull-right">Donation List</a>
                    <a th:href="@{'requests/add'}" class="btn btn-default pull-right">Request Blood</a>
                    <br>
                    <a th:href="@{'logout'}" class="btn btn-default pull-right"> Logout</a>

                </c:otherwise>
            </c:choose>
            <a th:href="@{'bloodDrives'}" class="btn btn-default">
                <span class="glyphicon-hand-left glyphicon"></span> Go to Community
            </a>
        </div>
        <div class="pull-left"> <h3 th:text="${SpecialBlurb}"></h3> </div>
    </div>
</section>
</body>
</html>